.banner {
    height: 100vh;
}

.why {
    padding: 150px 0px 20px;
}

.left-content-wrapper {
    padding-top: 350px;
}

.right-content-wrapper {
    padding-top: 128px;
}

#animation-container {
    margin-top: -60px;
    margin-left: -146px;
    width: 96%;
}

.how-it-works {
    margin-bottom: 40px;
}

.how-it-works .lower-div .desktop-img-wrapper {
    width: 140%;
    height: 1000px;
    margin: auto;
    margin-bottom: -200px;
    margin-left: -325px;
}

#downbutton {
    padding-top: 120px;
}

.learning-modal .modal-card-wrapper .modal-card .content-wrapper h3 span {
    color: #d2fe5b !important;
}

.token h2 {
    margin-bottom: 80px;
}

.services .service-card {

    box-shadow: 7px 6px 20px 2px #65b63ea1 !important;

}

.services .service-modal-wrapper:after {
    display: none;
}

.learning-modal .modal-card-wrapper .modal-card.card-1 {
    background-image: none;
    position: relative;
}

.learning-modal .modal-card-wrapper .modal-card.card-1 .animation-elements-1 {
    position: absolute;
    top: 0;
    right: 0;
}

.learning-modal .modal-card-wrapper .modal-card.card-2 {
    background-image: none;
    position: relative;
}

.learning-modal .modal-card-wrapper .modal-card.card-2 .animation-elements-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.learning-modal .modal-card-wrapper .modal-card.card-4 {
    background-image: none;
    position: relative;
}

.learning-modal .modal-card-wrapper .modal-card.card-4 .animation-elements-4 {
    position: absolute;
    top: 0;
    right: 0;
}
.learning-modal .modal-card-wrapper .modal-card.card-6 {
    background-image: none;
    position: relative;
}

.learning-modal .modal-card-wrapper .modal-card.card-6 .animation-elements-6 {
    position: absolute;
    top: -47px;
    right: -156px;
}
.learning-modal .modal-card-wrapper .modal-card.card-8 {
    background-image: none;
    position: relative;
}

.learning-modal .modal-card-wrapper .modal-card.card-8 .animation-elements-8 {
    position: absolute;
    top: 0;
    right: 0;
}
/* #downbutton a {
    bottom: 20px !important;
} */
/*
#downbutton a span {
   
    display: none;
} */
/*======== large device =========*/
@media (min-width: 992px) and (max-width: 1199.98px) {}


/*======== medium device =========*/
@media (min-width: 768px) and (max-width: 991.98px) {}


/*======== small device =========*/
@media (min-width: 576px) and (max-width: 767.98px) {}


/*======== Extra small device =========*/
@media (max-width: 575.98px) {

    #animation-container {
        margin-top: 0px;
        margin-left: -130px;
        width: 311%;
        opacity: 0.8;
    }

    .left-content-wrapper {
        padding-top: 0;
    }

    .right-content-wrapper {
        padding-top: 0;
    }

    .banner {
        height: auto;
    }

    .why {
        padding: 30px 0px 20px;
    }

    #downbutton {
        display: none;
    }

}