.how-priceStabilizer-work h2 {
  font-size: 56px;
}
.how-priceStabilizer-work {
  background: url("../images/how-it-works-bg-image.png") no-repeat bottom center;
  padding: 80px 0 0 0;
}

@media screen and (max-width: 767px) {
  .how-priceStabilizer-work {
    background-position: 70% -2%;
    background-size: 500%;
  }
  .how-priceStabilizer-work .lower-div .desktop-img-wrapper svg {
    height: auto !important;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .how-priceStabilizer-work {
    display: none;
  }
}

.how-priceStabilizer-work .upper-div .content-wrapper {
  max-width: 871px;
  margin: 0 auto;
  height: 321px;
}

@media (max-width: 991px) {
  .how-priceStabilizer-work .upper-div .content-wrapper {
    max-width: 100%;
  }
}

.how-priceStabilizer-work .upper-div .content-wrapper h2 {
  margin-bottom: 26px;
}

.how-priceStabilizer-work .upper-div .content-wrapper p {
  margin: 24px 0 28px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  line-height: 29.3px;
}

@media (max-width: 1024px) {
  .how-priceStabilizer-work .upper-div .content-wrapper p {
    font-size: 16px;
    line-height: 20.3px;
  }
}

.how-priceStabilizer-work .upper-div .content-wrapper .btn-style {
  margin: 0 auto;
  height: 40px;
  width: 203px;
  justify-content: center !important;
}

.how-priceStabilizer-work .upper-div .content-wrapper .btn-style span {
  color: #070710;
  text-align: center;
  font-size: 32px;
  line-height: 37.8px;
  font-weight: 700;
}

.how-priceStabilizer-work .lower-div {
  position: relative;
  padding: 200px 0 250px;
}

@media (max-width: 1024px) {
  .how-priceStabilizer-work .lower-div {
    overflow-y: auto;
  }
}

@media screen and (max-width: 767px) {
  .how-priceStabilizer-work .lower-div {
    padding: 80px 0 30px;
  }
}

.how-priceStabilizer-work .lower-div .desktop-img-wrapper {
  width: 100%;
  height: 800px;
  margin: auto;
}
.how-priceStabilizer-work .lower-div .desktop-img-wrapper svg {
  height: 140% !important;
  /* margin-bottom: 30px !important; */
}
@media (max-width: 1024px) {
  .how-priceStabilizer-work .lower-div .desktop-img-wrapper {
    display: block;
  }
}

.how-priceStabilizer-work .lower-div .desktop-img-wrapper img {
  width: 100%;
  height: 100%;
}

.how-priceStabilizer-work .lower-div .mobile-img-wrapper {
  display: none;
  margin: 0 auto;
  max-width: 510px;
  max-height: 570px;
}

@media (max-width: 1024px) {
  .how-priceStabilizer-work .lower-div .mobile-img-wrapper {
    display: block;
  }
}

@media (max-width: 767px) {
  .how-priceStabilizer-work .lower-div .mobile-img-wrapper {
    max-width: 320px;
    max-height: 320px;
    display: block;
    text-align: center;
  }
}

.how-priceStabilizer-work .lower-div .mobile-img-wrapper img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .how-priceStabilizer-work .lower-div .mobile-img-wrapper img {
    max-width: 200px;
  }
}

.how-priceStabilizer-work .lower-div .unique-method-wrapper-for-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .how-priceStabilizer-work .lower-div .unique-method-wrapper-for-mobile {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .how-priceStabilizer-work
    .lower-div
    .unique-method-wrapper-for-mobile
    .img-wrapper {
    width: 100%;
  }

  .how-priceStabilizer-work
    .lower-div
    .unique-method-wrapper-for-mobile
    .img-wrapper
    img {
    width: 100%;
    height: 100%;
  }
}

.banner {
  height: 100vh;
}
header nav {
  text-align: end;
}
header nav ul li {
  margin-right: 20px !important;
}
header nav ul li:last-of-type {
  margin-left: 0;
}
header .btn-style span {
  font-size: 17px;
}

.banner .right-content-wrapper p {
  font-size: 22.45px;
}
.profit .content-wrapper {
  margin-bottom: -60px;
}
#video-part {
  padding: 60px 0px 0px;
}
#video-part h2 {
  margin-bottom: 30px;
}
#video-part video {
  height: 470px;
  width: 800px;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(100, 182, 62, 1);
  -moz-box-shadow: 0px 0px 28px 0px rgba(100, 182, 62, 1);
  box-shadow: 0px 0px 28px 0px rgba(100, 182, 62, 1);
}
.banner .left-content-wrapper h1 i {
  color: #bdd71e;
}
.banner .left-content-wrapper h1 {
  font-size: 29.606px;
  line-height: 43.506px;
}
body {
  background-color: #000;
}
.profit .btn-style {
  width: 340px;
  margin: 20px 5px !important;
}
.why {
  padding: 100px 0px 20px;
}

.left-content-wrapper {
  padding-top: 350px;
}

.right-content-wrapper {
  padding-top: 173px;
}

.banner .inner-banner {
  padding-top: 60px;
}

.make-us-unique {
  padding: 50px 0 50px;
}

.road-map h2 {
  margin-bottom: -30px;
}

.make-us-unique .container > h2 {
  margin-bottom: 0px;
}

.services .service-card > span {
  margin-bottom: 0px;
}

.make-us-unique .mobile-version {
  display: none;
}

.services .service-card {
  height: 400px;
}

.services .service-card ul {
  padding-top: 30px;
}

#downbutton a {
  padding-top: 0px !important;
}

.banner .inner-banner {
  position: relative;
}

#animation-container {
  margin-top: -70px;
  margin-left: -147px;
  text-align: left;
}

#beneficiaries {
  padding: 60px 0px;
}
#beneficiaries h2 {
  padding-bottom: 40px;
}
.how-it-works {
  margin-bottom: 40px;
}

.how-it-works .lower-div .desktop-img-wrapper {
  width: 130%;
  height: 950px;
  margin: auto;
  margin-bottom: -203px;
  margin-left: -255px;
}
.service-modal-wrapper ul li {
  display: block;
}

.demo a {
  bottom: -110px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.learning-modal .modal-card-wrapper .modal-card .content-wrapper h3 span {
  color: #d2fe5b !important;
}

.token {
  background-color: #000000;
}

.token h2 {
  margin-bottom: 50px;
}

.why .why-card-wrapper .why-card h3 span {
  color: #d2fe5b !important;
}

.services .service-card {
  box-shadow: 7px 6px 20px 2px #65b63ea1 !important;
}

.services .service-modal-wrapper:after {
  display: none;
}

.learning-modal .modal-card-wrapper .modal-card {
  overflow: hidden;
}

.learning-modal .modal-card-wrapper .modal-card.card-1 {
  background-image: none;
  position: relative;
}

.learning-modal .modal-card-wrapper .modal-card.card-1 .animation-elements-1 {
  position: absolute;
  top: 0;
  right: 0;
}

.learning-modal .modal-card-wrapper .modal-card.card-2 {
  background-image: none;
  position: relative;
}

.learning-modal .modal-card-wrapper .modal-card.card-2 .animation-elements-2 {
  position: absolute;
  top: 0;
  right: 0;
}

.learning-modal .modal-card-wrapper .modal-card.card-3 {
  background-image: none;
  position: relative;
}

.learning-modal .modal-card-wrapper .modal-card.card-3 .animation-elements-3 {
  position: absolute;
  top: -65px;
  right: -60px;
}

.learning-modal .modal-card-wrapper .modal-card.card-4 {
  background-image: none;
  position: relative;
}

.learning-modal .modal-card-wrapper .modal-card.card-4 .animation-elements-4 {
  position: absolute;
  top: 0;
  right: 0;
}

.learning-modal .modal-card-wrapper .modal-card.card-5 {
  background-image: none;
  position: relative;
}

.learning-modal .modal-card-wrapper .modal-card.card-5 .animation-elements-5 {
  position: absolute;
  top: 0;
  right: 0;
}

.learning-modal .modal-card-wrapper .modal-card.card-6 {
  background-image: none;
  position: relative;
}

.learning-modal .modal-card-wrapper .modal-card.card-6 .animation-elements-6 {
  position: absolute;
  top: -47px;
  right: -156px;
}

.learning-modal .modal-card-wrapper .modal-card.card-7 {
  background-image: none;
  position: relative;
}

.learning-modal .modal-card-wrapper .modal-card.card-7 .animation-elements-7 {
  position: absolute;
  top: -50px;
  right: 0;
}

.learning-modal .modal-card-wrapper .modal-card.card-8 {
  background-image: none;
  position: relative;
}

.learning-modal .modal-card-wrapper .modal-card.card-8 .animation-elements-8 {
  position: absolute;
  top: 0;
  right: 0;
}

/* #downbutton a {
    bottom: 20px !important;
} */
/*
#downbutton a span {
   
    display: none;
} */
/*======== extra large device =========*/
@media (min-width: 1024px) and (max-width: 1600px) {
  header .btn-style span {
    font-size: 13px;
  }
  nav .btn-style {
    width: 200px;
    gap: 5px;
  }
  header nav ul li a {
    font-size: 16px;
  }
  header .logo {
    text-align: right;
  }
  header .logo img {
    width: 85%;
    height: auto;
  }
  .banner .left-content-wrapper h1 {
    font-size: 26px;
    line-height: 33px;
  }
  .left-content-wrapper {
    padding-top: 270px;
  }
  .banner {
    height: 110vh;
  }
  header .btn-style .icon-wrapper {
    width: 25px;
    height: 30px;
  }
}

/*======== large device =========*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/*======== medium device =========*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/*======== small device =========*/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/*======== Extra small device =========*/
@media (max-width: 575.98px) {
  #video-part video {
    height: auto;
    width: 300px;
  }
  header .btn-style span {
    font-size: 15px;
  }
  .banner .left-content-wrapper h1 {
    font-size: 22px;
    line-height: 28px;
  }
  #animation-container {
    margin-left: 0 !important;
    width: 250% !important;
  }
  /* #animation-container {
    margin-top: 0px !important;
    margin-left: 0px !important;
    opacity: 0.8;
    width: 98% !important;
  } */

  .left-content-wrapper {
    padding-top: 0;
  }

  .right-content-wrapper {
    padding-top: 0;
  }

  .banner {
    height: auto;
    overflow: hidden;
  }

  .why {
    padding: 30px 0px 20px;
  }

  #downbutton {
    display: none;
  }

  .make-us-unique .mobile-version {
    display: block;
  }

  .make-us-unique .web-version {
    display: none;
  }

  .banner .inner-banner {
    position: relative;
  }

  #animation-container {
    margin-top: -70px;
    margin-left: -75px;
    text-align: left;
    position: absolute;
    top: 81px;
    left: -111px;
    width: 300%;
    opacity: 0.5;
  }

  .services .service-card {
    height: auto;
  }

  .learning-modal .modal-card-wrapper .modal-card.card-1 .animation-elements-1 {
    width: 50%;
  }

  .learning-modal .modal-card-wrapper .modal-card.card-2 .animation-elements-2 {
    width: 50%;
  }

  .learning-modal .modal-card-wrapper .modal-card.card-3 .animation-elements-3 {
    width: 63%;
    top: -17px;
    right: 0;
  }

  .learning-modal .modal-card-wrapper .modal-card.card-4 .animation-elements-4 {
    width: 50%;
  }

  .learning-modal .modal-card-wrapper .modal-card.card-5 .animation-elements-5 {
    width: 50%;
  }

  .learning-modal .modal-card-wrapper .modal-card.card-6 .animation-elements-6 {
    width: 73%;
    top: 0;
    right: -34px;
  }

  .learning-modal .modal-card-wrapper .modal-card.card-7 .animation-elements-7 {
    width: 50%;
    top: 0;
  }

  .learning-modal .modal-card-wrapper .modal-card.card-8 .animation-elements-8 {
    width: 50%;
    top: 0;
  }

  .road-map h2 {
    margin-bottom: 0px;
  }
}
